.nav {
  margin-top: 48px;
  margin-inline: auto;
  max-width: 1104px;
}

.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 46px;
}

.nav__links {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__links > li {
  line-height: 17px;
  letter-spacing: 1.5px;
  font-size: 13px;
  color: var(--colour-dark);
  font-weight: 400;
  text-transform: uppercase;
}
