.button {
  color: var(--colour-bg);
  background: var(--colour-primary);
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 8px 8px -4px rgba(73, 93, 207, 0.2);
  cursor: pointer;
}
