:root {
  --colour-primary: #5267df;
  --colour-accent: #fa5959;
  --colour-dark: #242a45;
  --colour-muted: #9194a2;

  --colour-bg: #fff;
}

*,
*::after,
*::before {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  font: inherit;
}
